.signup-form-container {
    width: 400px;
    margin: 60px auto;
    padding: 20px;
    // border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 10px #d4d4d4;
    background: aliceblue;
  }
 .form-error {
      color: #a94442;
  }
  .submit-btn {
      width: 100%;
  }